* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 3.5em;
    display: flex;
    align-items: center;
    padding-block: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    z-index: 1000;
}

header.scrolled {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px); 
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

main {
    margin-top: 6em;
    margin-bottom: 84px;
}

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 3em;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-page-container {
    width: 100%;
}

.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}


/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
    width: 10em;
}

.host-nav {
    display: flex;
    justify-content: start;
    margin-left: .5em;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 25px 10px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

.host-listed-vans-div {
    padding: 0 1em;

    .host-listed-van {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1em;
        margin: 1em 0;
        background-color: #fff;
        border-radius: 10px;
        color: #161616;
        text-decoration: none;

        img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
        }
        
        .host-listed-van-desc {
            margin-left: 1em;
            h3 {
                margin: 0;
                font-weight: 600;
                font-size: 1rem;
            }
            p {
                margin: .4em 0 0 0;
                font-size: .8rem;
            }
        }
    }
}

.back-button {
    margin-top: 2em;
    span {
        color: #201F1D;
        font-weight: 600;
    }
}

.host-van-detail-container {
    margin: 1em;
    padding: 1em;
    background-color: #fff;

    .host-van-detail {
        display: flex;
        flex-direction: row;

        img {
            width: 140px;
            height: 150px;
            border-radius: 10px;
        }
        .host-van-detail-info {
            padding-left: 1em;
            display: flex;
            flex-direction: column;
            i {
                max-width: fit-content;
            }
            .vantype-w {
                margin-top: 1em;
                height: 2em;
                padding: .25em 1em;
                width: 5.5em;
                border-radius: 5px;
                background-color: #E17654;
                color: #FFEAD0;
            }
            h3 { 
                font-size: 1.5rem; 
                margin: .75em 0 .25em 0;
            }
            h4 { 
                font-size: 1rem; 
                margin: 0;
            }
            h3, h4 {
                font-weight: 800;
            }
        }
    }
    .van-detail-container-content {
        padding: 0 .65em;
    }
}

@media (min-width: 1024px) {
    header {
        height: 6em;
    }

    footer {
        height: 4.5em;
    }

    #van-detail-description {
        width: 40em;
    }

    .about-page-content {
        width: 70%;
    }

    .about-hero-image {
        margin-left: 1.4em;
        border-radius: 5px;
    }

    .home-container {
        a { width: 15em; }
        p { width: 40em; }
    }

    .about-page-cta {
        margin-right: 3.3em;
    }
}